.App {
  text-align: center;
}


ul {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}