.App {
  text-align: center;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}

.bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  opacity: 0.4;
  z-index: -1;
}

.title {
  font-size: 150px;
  text-align: center;
  padding: 100px;
}

.desc {
  font-size: 20px;
}

.loading {
  font-size: 100px;
  color: rgb(77, 107, 173);
  text-align: center;
  margin-top: 100px;
}

.grid-container {
  display: grid;
  gap: 60px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-item {
  flex-grow: 0;
}

.comments {
  margin: auto;
  text-align: justify;
  width: 400px;
  list-style-type: none;
  background: #e8e8e8;
  padding: 5px;
}

ul li {
  background: #ffffff;
  margin: 20px;
  padding: 10px;
}

.author {
  color:rgb(237, 130, 0);
}

.votes {
  text-align: right !important;
}

